
<!--Products-->

    <input
      type="search"
      class="form-control w-75 mx-auto my-3"
      placeholder="search......"
      [(ngModel)]="searchTerms"
    />
  
    <div *ngIf="(products | search : searchTerms)?.length == 0" class="">
      <p class="alert alert-info">
        <i class="fa-solid fa-circle-exclamation text-warning px-2 my-2"></i> No
        matching data found.
      </p>
    </div>
  
    <div class="row g-2">
      <div
        class="col-6 col-md-2"
        *ngFor="let product of products | search : searchTerms"
      >
        <div class="product p-2">   
            <img [src]="product.imageCover" [alt]="product.title" class="w-100 cursor-pointer" [routerLink]="['/details', product._id]" />
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="h6">{{ product.category.name }}</h3>
                <i [ngClass]="{'fa-regular':!this.wishListProduct.includes($any(product._id)) , 'fa-solid':this.wishListProduct.includes($any(product._id))}"  class=" fa-heart text-danger cursor-pointer" (click)="wishListToggle(product._id)"></i>
              </div>
            <h4 class="h6">
              {{ product.title | termText : 2 }}
            </h4>
            <div class="d-flex justify-content-between align-items-center">
              <span>{{ product.price | currency : "EGP" }}</span>
              <div>
                <i class="fas fa-star rating-color"></i>
                <span class="text-muted">{{ product.ratingsAverage }}</span>
              </div>
            </div>
          <button
            class="btn-main d-block mx-auto my-2"
            (click)="addToCart(product._id)"
          >
          <i class="fa-solid fa-plus px-2"></i> Add
          </button>
        </div>
      </div>
    </div>

  