<section class="bg-main-light my-2 p-4 rounded w-50 mx-auto">
  <h1 class="text-center">Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-2">
      <label for="email">email :</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <div
        class="text-danger"
        *ngIf="
          loginForm.get('email')?.errors && loginForm.get('email')?.touched
        "
      >
        <p *ngIf="loginForm.get('email')?.getError('required')">
          email is required
        </p>
      </div>
    </div>
    <div class="mb-2">
      <label for="password">password :</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
      />
      <div
        class="text-danger"
        *ngIf="
          loginForm.get('password')?.errors &&
          loginForm.get('password')?.touched
        "
      >
        <p *ngIf="loginForm.get('password')?.getError('required')">
          password is required
        </p>
      </div>
    </div>
    <a routerLink="/auth/forgot">Forgot password ?</a>
    <button class="btn-main ms-auto d-block" [disabled]="!loginForm.valid">
        <i class="fas fa-spinner fa-spin" *ngIf="isLoading"></i> Login
      </button>
      <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
  </form>
</section>
