<!--Categories-->
<section class="my-4" *ngIf="showCat">
  <h2 class="text-center my-4 fw-bold">All categories</h2>
  <div class="row g-4">
    <div class="col-md-4" *ngFor="let category of categoriesData">
      <div
        class="card product cursor-pointer"
        (click)="showSubCategory(category._id)"
      >
        <div class="card-img">
          <img
            [src]="category.image"
            class="w-100"
            height="300"
            [alt]="category.name"
          />
        </div>
        <div class="card-body">
          <h3 class="text-main text-center">{{ category.name }}</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Sub Categories-->
<section class="my-4" *ngIf="showSubCat">
  <div class="position-relative p-5">
    <span
      class="position-absolute start-0 top-0 cursor-pointer"
      (click)="showCat = true; showSubCat = false"
      ><i class="fa-solid fa-chevron-left px-2"></i> Back to categories
    </span>
    <h2 class="text-center my-4 fw-bold">Sub Categories</h2>
  </div>
  <div class="row g-4">
    <div class="col-md-4" *ngFor="let subCategory of subCategoryData">
      <div
        class="card product cursor-pointer"
        (click)="showProductData(subCategory._id)"
      >
        <div class="card-body">
          <h3 class="text-main text-center">{{ subCategory.name }}</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- products-->
<section class="my-4" *ngIf="showProduct">
  <div class="position-relative p-5">
    <h2 class="text-center my-4 fw-bold">Products</h2>
    <span
      class="position-absolute start-0 top-0 cursor-pointer"
      (click)="showSubCat = true; showProduct = false"
      ><i class="fa-solid fa-chevron-left px-2"></i> Back to subCategories
    </span>
  </div>
  <app-product-card [filterProduct]="allProductData"></app-product-card>
</section>
