<section class="bg-main-light my-2 p-4 rounded w-50 mx-auto">
  <h1 class="fs-3 py-2">reset your account password</h1>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPass()">
    <div class="mb-2">
      <label for="email">email :</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <div
        class="text-danger"
        *ngIf="
          resetPasswordForm.get('email')?.errors &&
          resetPasswordForm.get('email')?.touched
        "
      >
        <p *ngIf="resetPasswordForm.get('email')?.getError('required')">
          email is required
        </p>
      </div>
    </div>

    <div class="mb-2">
      <label for="newPassword">newPassword :</label>
      <input
        type="password"
        id="newPassword"
        class="form-control"
        formControlName="newPassword"
      />
      <div
        class="text-danger"
        *ngIf="
          resetPasswordForm.get('newPassword')?.errors &&
          resetPasswordForm.get('newPassword')?.touched
        "
      >
        <p *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">
          Password is required
        </p>
        <p *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">
          Password must start with upperCase then from 6 to 10
        </p>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-outline-success"
      [disabled]="!resetPasswordForm.valid"
    >
      <i class="fas fa-spinner fa-spin" *ngIf="isLoading"></i> Reset password
    </button>
    <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
  </form>
</section>
