<section class="bg-main-light my-2 p-4 rounded w-50 mx-auto">
  <h1 class="fs-3 py-2">please enter your verification code</h1>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="verify()">
    <div class="mb-2">
      <label for="email">email :</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <div
        class="text-danger"
        *ngIf="
          forgotPasswordForm.get('email')?.errors &&
          forgotPasswordForm.get('email')?.touched
        "
      >
        <p *ngIf="forgotPasswordForm.get('email')?.getError('required')">
          email is required
        </p>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-outline-success"
      [disabled]="!forgotPasswordForm.valid"
    >
      <i class="fas fa-spinner fa-spin" *ngIf="isLoading"></i> Verify
    </button>
    <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
  </form>
</section>
